.movie-container {
  display: flex;
  flex-wrap: wrap; 
  border:  solid  green;
  margin: 0;
  padding: 0;

 

}

.movieCard-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  max-height: 322px;
  max-width: 100%;
  border-radius: 4px;
  background: #6c6c6c;
  border: solid red;
  padding: 0;
 

}

.movieCard-container-img {
  max-width: 100%;
  margin-top: 26px;
}

.movieCard-container-main {
  margin-top: 10px;
  padding-left: 5px;
  padding: 15px;
}

.movieCard-years-old {
  font-size: 16px;
  color: #ffc700;
}

.movieCard-title {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.movieCard-subtitle {
  color: #ffffff;
  font-size: 14px;
  font-weight: none;
}

@media (min-width: 576px) {
  .movieCard-container {
    width: 258px;
    height: 322px;
    
   
  }
}

@media (min-width: 768px) {
   .movieCard-container {
  }
}
